#search-results-section{
    display: none;
}

.well {
    overflow: hidden; 
}

.well .col-lg-2 img {
    max-width: 100%; 
    float: left; 
    margin-right: 10px; 
    margin-bottom: 10px;
}


.well .title {
    overflow: hidden; 
}


.well h3 {
    margin: 0; 
}

.well p {
    margin: 0; /* Remove default margin for p */
    margin-right: 30px;
}
