<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCineList</title>
    <link rel="stylesheet" href="../styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/hoomanbahreini/bootstrap-half-and-quarter-grid/fractional-grid.css">
</head>

<body class="text-bg-dark">
      <!-- header -->
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-light" style="font-size: 1.25rem;">MyCineList</a></li>
          
        </ul>

        <form id="movie-search-form" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input id="search-input" type="search" class="form-control form-control-dark text-bg-dark"
            placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <a class="btn btn-dark btn-lg" href="/login" role ="button">Login</a>
          <a class="btn btn-dark btn-lg" href="/register" role ="button">Sign-up</a>
        </div>
      </div>
    </div>
    <hr>
  </header>
  <!-- header -->

  <!--login-->
    <div class="container mt-5 text-bg-dark register-page">
        <h1>Login</h1>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <button type="submit" class="btn btn-dark">Login</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card social-block">
                    <div class="card-body">
                        <a class="btn btn-block " href="/auth/google" role="button">
                            <i class="fab fa-google"></i>
                            Sign In with Google
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- login-->

    <!-- search results-->
    <div id="search-results-section" class="row text-bg-dark">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        </div>

        <div class="well search-result text-bg-dark my-3">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-1-half"> <img class="img-responsive"
                        src="https://www.bootdey.com/image/600x900/7B68EE/000000" alt=""></div>
                <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10-half title">
                    <h3>Result name one</h3>
                    <p>Ut quis libero id orci semper porta ac vel ante. In nec laoreet sapien. Nunc hendrerit
                        ligula at massa sodales, ullamcorper rutrum orci semper.</p>
                    <input type="hidden" id=movie_id value="">

                </div>
            </div>
        </div>
        <hr>
        <div class="well search-result text-bg-dark my-3">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-1-half"> <img class="img-responsive"
                        src="https://www.bootdey.com/image/600x900/7B68EE/000000" alt=""></div>
                <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10-half title">
                    <h3>Result name one</h3>
                    <p>Ut quis libero id orci semper porta ac vel ante. In nec laoreet sapien. Nunc hendrerit
                        ligula at massa sodales, ullamcorper rutrum orci semper.</p>
                    <input type="hidden" id=movie_id value="">

                </div>
            </div>
        </div>
        <hr>
        <div class="well search-result text-bg-dark my-3">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-1-half"> <img class="img-responsive"
                        src="https://www.bootdey.com/image/600x900/7B68EE/000000" alt=""></div>
                <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10-half title">
                    <h3>Result name one</h3>
                    <p>Ut quis libero id orci semper porta ac vel ante. In nec laoreet sapien. Nunc hendrerit
                        ligula at massa sodales, ullamcorper rutrum orci semper.</p>
                    <input type="hidden" id=movie_id value="">

                </div>
            </div>
        </div>
        <hr>
        <div class="well search-result text-bg-dark my-3">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-1-half"> <img class="img-responsive"
                        src="https://www.bootdey.com/image/600x900/7B68EE/000000" alt=""></div>
                <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10-half title">
                    <h3>Result name one</h3>
                    <p>Ut quis libero id orci semper porta ac vel ante. In nec laoreet sapien. Nunc hendrerit
                        ligula at massa sodales, ullamcorper rutrum orci semper.</p>
                    <input type="hidden" id=movie_id value="">

                </div>
            </div>
        </div>
        <hr>
        <div class="well search-result text-bg-dark my-3">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-1-half"> <img class="img-responsive"
                        src="https://www.bootdey.com/image/600x900/7B68EE/000000" alt=""></div>
                <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10-half title">
                    <h3>Result name one</h3>
                    <p>Ut quis libero id orci semper porta ac vel ante. In nec laoreet sapien. Nunc hendrerit
                        ligula at massa sodales, ullamcorper rutrum orci semper.</p>
                    <input type="hidden" id=movie_id value="">

                </div>
            </div>
        </div>
        <hr>
    </div>
    <!-- search results-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../movies.js"></script>
</body>