#search-results-section{
    display: none;
}

.well {
    overflow: visible; 
}

.well .col-lg-2 img {
    max-width: 100%; 
    float: left; 
    margin-right: 10px; 
    margin-bottom: 10px;
}


.well .title {
    overflow: visible; 
}

.hrsearch{
    display: none;
}

.well h3 {
    margin: 0; 
}

.well p {
    margin: 0; 
    margin-right: 30px;
}


.dropdown-item{
    font-size: 9px;
    padding: 0px 0px;
    margin-top: 0px;
    z-index: 99;
}

#dropdownMenuButton{
    font-size: 11px;
}

.index .dropdown{
    display: none;
}

.register .dropdown{
    display: none;
}

.login .dropdown{
    display: none;
}

.loggedin .dropdown{
    display: block;
}

.list-text{
    vertical-align: middle;
}

.dropdown-menu{
    z-index: 99;
}

.table{
    margin: auto;
    width: 55% !important;
}

#NowPlaying{
    width: 20%;
    margin: auto;
}

.cast-members {
    display: flex;
    overflow-x: auto; 
    padding-bottom: 20px; 
}

.cast-member {
    flex: 0 0 138px; /* Prevent cast members from growing or shrinking */
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px; /* Add spacing between cast members */
    border: 1px solid #ccc;
}

.cast-info h5{
    font-size: 16px;
}

.cast-info p{
    font-size: 14px;
}

.clickable{
    cursor: pointer;
}




