#search-results-section{
    display: none;
}

.well {
    overflow: visible; 
}

.well .col-lg-2 img {
    max-width: 100%; 
    float: left; 
    margin-right: 10px; 
    margin-bottom: 10px;
}


.well .title {
    overflow: visible; 
}


.well h3 {
    margin: 0; 
}

.well p {
    margin: 0; 
    margin-right: 30px;
}


.dropdown-item{
    font-size: 9px;
    padding: 0px 0px;
    margin-top: 0px;
    z-index: 99;
}

#dropdownMenuButton{
    font-size: 11px;
}

.index .dropdown{
    display: none;
}

.loggedin .dropdown{
    display: block;
}

.list-text{
    vertical-align: middle;
}

.dropdown{
    z-index: 99;
}

.table{
    margin: auto;
    width: 55% !important;
}



